.drop-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    label{
        display: block;
        font-size: 23px;
        margin: 7px 0 7px 0;
    }
    input{
        font-size: 20px;
    }
    .drop-button{
        width: 80px;
        font-size: 15px;
        margin-top: 10px;
        background-color: rgb(240, 25, 132);
        color: white;
        outline: none;
        border: 0;
        padding: 6px;
        border-radius: 10px;
        cursor: pointer;
    }

}