* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
}
h1{
    display: block;
    margin: 0;
}


.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.title,
.page-2,
.page-3,
.page-4 {
    height: 150vh;
}


.page-3 {
    display: flex;
    justify-content: flex-end;
}